# Dependencies
node_modules/

# Environment variables
.env

# Firebase admin SDK key
firebase_key.json

# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage directory
coverage/

# Build files
dist/
build/

# OS-specific
.DS_Store
Thumbs.db